<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cze">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Inventory in django" />
    <meta name="keywords" content="Inventory in django" />
    <meta name="description" content="Inventory in django" />
    <link rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/site_media/styles/style.css" />
    <style type="text/css" title="currentStyle" media="screen">
            @import "/site_media/styles/layout.css"; /* not for IE4/NN4 */
    </style>
    {% block head_special %}{% endblock %}
    <!--[if lt IE 8]><style> @import "/site_media/styles/ie.css"; </style><![endif]-->
    <!--[if lt IE 7]><style> @import "/site_media/styles/ie6.css"; </style><![endif]-->
    <!--[if lt IE 6]><style> @import "/site_media/styles/ie5.css"; </style><![endif]-->
    <title>{% block title %}Inventory{% endblock %}</title>
</head>
<body >

{% block main %}


{% endblock %}

</body>
</html>